{% extends 'app/main.html' %}


{% block title %} About me {% endblock %}


{% block content %}

{% load static %}

<h1 style="text-align:center">Обо мне</h1>

<img src="{% static 'app/img/foto.jpg' %}" hspace="150">

<br>
<br>
<p><strong>Меня зовут Арсен, уже боллее чем три года я занимаюсь программированием. Несмотря на то, что эта область новая для меня я упорно стараюсь чтобы усовершенствовать свои навыки. Окончил я
факультет туризма и в данный момент работаю по професии, но в дальнейшем также планирую разнообразить свою деятельность, превнося в нее определенные новшества в лице программирования.</strong></p>


{% endblock %}